<div class="column">
  <div>
    <table class="table table-sm">
      <thead>
        <tr>
          <th scope="col">SKU</th>
          <th scope="col">Item</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
        
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items; let i = index">
          <th scope="row">{{item.sku}}</th>
          <td>{{item.name}}</td>
          <td >{{item.price}}</td>
          
          <td>
            <button type="button" class="btn btn-primary" (click)="quantityPlusOne(i)">+</button>
            <div> {{item.quantity}} </div>
            <button type="button" class="btn btn-danger" (click)="quantityMinusOne(i)">-</button>
          
          </td>
      </tbody>
    </table>
  </div>
  <!-- Seceond table -->
  <div class="cart">
    <table class="table">
      <thead class="thead-dark center">
        <h5>Cart</h5>

        <tr>
          <th scope="col">Item</th>
          <th scope="col">Price</th>
          <th scope="col">Quantity</th>
          <th scope="col">
            <button type="button" class="btn btn-success contact-button" (click)="readyForPayment()">Checkout</button> 
        </th>
        

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items; let i = index">
          <th *ngIf="item.quantity != 0" scope="row">{{item.name}}</th>
          <td *ngIf="item.quantity != 0">{{item.price}}</td>
          <td *ngIf="item.quantity != 0">{{item.quantity}}</td>
          <td *ngIf="item.quantity != 0">{{item.subTotal}}</td>
  
        </tr>
        
      </tbody>
    </table>
  </div>
</div>