<h2 style="text-align: center;" class="title">RingUmUp!</h2>
<p style="text-align: center;" class="name"><em>Designed by Jim Yang &amp; James Clark</em></p>
<p style="text-align: left;">&nbsp;</p>
<p style="text-align: center;" class="goal">The goal of this application is to provide a simple interface where a user can edit an unlimited amount of items and their details, add them to their cart while editing the cart if needed, calculating the total and tax amount, and finally display the necessary change.</p>
<p style="text-align: center;" class="link"><a href="https://docs.google.com/presentation/d/1H0-HNwPd6J17MyRk8Y6F95GD7ckS3TA5fxiwBNxswk4/edit?usp=sharing" target="_blank" rel="noopener">Google Presentation</a></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
