<!DOCTYPE html>
<html>

<body>

  <div class="main-container">
    
    <div class="header">
      <div class="container-padding">
        R1C1
      </div>
      <div class="container-padding">
          R1C2
      </div>
    </div>

    <div class="main">
      <div class="container-padding">
        <app-home></app-home>      
      </div>
      <div class="container-padding">
          
      </div>
    </div>
    <div class="footer">
        <div class="container-padding ">
          R1C1
        </div>
        <div class="container-padding">
            R1C2
        </div>
      </div>
  </div>
  
</body>


</html>