
    .main
     {
        background-color: gray;
    }
    .footer
    {
       background-color: rgb(154, 179, 146);
   }
    .container-padding {
        margin: 8px;
        border: 1px;
    }
    .main-container {
        display: grid;
        height: 100%;
        width: 100%;
        grid-template-rows: 1fr 12fr;
    
    }
    .pull-right {
        float: right;
    }
.main-outlet{
    display: none;
}

