<!DOCTYPE html>
<html>

<body>
  <div class="main-container">
    <div class="header">
      <div class="container-padding">
        <button (click)="navigateTo('items')" class="nav-button container-padding" type="button" mat-raised-button color="danger">
          Item Editor
      </button>
      <button (click)="navigateTo('checkout')" class="nav-button container-padding" type="button" mat-raised-button color="alert">
        Point of Sale
    </button>
    <button (click)="navigateTo('about')" class="nav-button container-padding" type="button" mat-raised-button color="alert">
        About
    </button>
      </div>
    </div>

    <div class="main">
      <div class="container-padding">
        
        <router-outlet class= "main-outlet"></router-outlet>    
        
      </div>
      <div class="container-padding">
        
      </div>
    </div>
    
  </div>
  
</body>


</html>