<!DOCTYPE html>
<html>

<head>
  <title>Lab Assignment 2</title>

</head>

<body>

  <div class="main-container">
    
    <div class="row-three">
      <div class="container-padding">
        R1C1
      </div>
      <div class="container-padding">
          R1C2
      </div>
      <div class="container-padding">
        R1C3
      </div>
    </div>

    <div class="row-two">
      <div class="container-padding">
        R2C1
      </div>
      <div class="container-padding">
          <app-home></app-home>
      </div>
      <div class="container-padding">
        R2C3
      </div>
    </div>
    <div class="row-three">
        <div class="container-padding">
          R1C1
        </div>
        <div class="container-padding">
            R1C2
        </div>
        <div class="container-padding">
          R1C3
        </div>
      </div>
  </div>
  
</body>


</html>