
    .header {
        grid-template-columns: 1.5fr 2fr 1fr;
        display: grid;
        width: 100%;
    }
    .main
     {
        background-color: cadetblue;
    }
    
    .container-padding {
        margin: 10px;
        border: 2px;
        
    }
    .main-container {
        display: grid;
        height: 100%;
        width: 100%;
        grid-template-rows: 1fr 12fr;
    
    }
    .pull-right {
        float: right;
    }
.main-outlet{
    display: none;
}

