
<table class="table ">
    <thead class="table-dark">
        <tr>
            <th scope="col"></th>
            <th scope="col">Subtotal</th>
            <th scope="col">Sales Tax</th>
            <th scope="col">Total Amount</th>
            
        </tr>
    </thead>
    <tbody class="table-light">
        <tr>
            <th scope="row"> {{data.numberOfItems}} Items Purchaced</th>
            <th scope="row"> {{data.subtotalDue}} </th>            
            <th scope="row">{{data.salesTax}}</th>            
            <th scope="row">{{data.totalDue}}</th>      
        </tr>
    </tbody>
</table>
        <tr class="container-padding">
                <th>
                        <form class="form-inline">
                                <div class="form-group mx-sm-3 mb-2">
                                  <input type="password" class="form-control" id="inputPassword2" placeholder="Custom Amount">
                                </div>
                                <button type="submit" class="btn btn-primary mb-2">
                                    <mat-icon>
                                        done
                                    </mat-icon>
                                </button>
                              </form>
                        </th>
                <th scope="col">
                    <button type="button" (click)="change(100)" class="btn btn-dark">$100</button>
                </th>
                <th scope="col">
                        <button type="button" (click)="change(50)" class="btn btn-dark">$50</button>
                </th>
                <th scope="col">                    
                    <button type="button" (click)="change(20)" class="btn btn-dark">$20</button>
                </th>
                <th scope="col">
                        <button type="button" (click)="change(10)" class="btn btn-dark">$10</button>
                </th>
                <th scope="col">
                        <button type="button" (click)="change(5)" class="btn btn-dark">$5</button>
                </th>
                <th scope="col">
                        <button type="button" (click)="change(1)" class="btn btn-dark">$1</button>
                </th>
                
            </tr>
   
        
