.h-items:hover {
    background-color: rgb(186, 186, 238);
}
.btn-danger:hover {
    box-shadow: 0px 0px 32px 10px rgba(255,0,0,0.84);
}
.btn-primary:hover {
    box-shadow: 0px 0px 32px 10px rgba(0,68,255,1);
}
.btn-success:hover {
    box-shadow: 0px 0px 32px 10px rgba(0,224,11,1);
}
